# Source - https://stackoverflow.com/a/72921568
# Posted by sytech, modified by community. See post 'Timeline' for change history
# Retrieved 2026-06-11, License - CC BY-SA 4.0

*.ipynb -linguist-detectable